<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="likeBoardCode">
    AND BOARD_CODE LIKE ?
</entry>

<entry key="orderDesc">
	DESC
</entry>

<entry key="likeBoardTitle">
    AND BOARD_TITLE LIKE '%'||?||'%'
</entry>

<entry key="orderBoardCode">
	ORDER BY BOARD_CODE 
</entry>

<entry key="orderCreatedDate">
	ORDER BY BOARD_NO
</entry>
<!-- 전체 사용자 게시글 숫자 -->
<entry key="countBoard">
	SELECT COUNT(*) AS COUNT 
	FROM BOARD 
	WHERE STATUS LIKE 'Y'
</entry>

<!-- 전체 게시글 조회 -->
<entry key="selectBoardListStart">
	SELECT RNUM,
    BOARD_NO,
    CREATED_DATE,
    BOARD_TITLE,
    MEMBER_ID,
    VIEWS,
    BOARD_KOR_NAME,
    BOARD_CODE,
    LIKES
	FROM(
	    SELECT ROWNUM RNUM, A.*
	    FROM(
	        SELECT B.BOARD_NO,
	        B.CREATED_DATE,
	        B.BOARD_TITLE,
	        M.MEMBER_ID,
	        B.VIEWS,
            BT.BOARD_KOR_NAME,
            BOARD_CODE,
            B.LIKES
	        FROM BOARD B
	        JOIN MEMBER M ON(M.MEMBER_NO=B.BOARD_WRITER)
	        JOIN BOARD_TYPE BT USING(BOARD_CODE)
	        WHERE  B.STATUS LIKE 'Y'
	        AND M.STATUS LIKE 'Y'
</entry>

<entry key="selectBoardListEnd">
	        )A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 게시글 유형 조회 -->
<entry key="selectBoardType">
	SELECT BOARD_CODE,
	BOARD_NAME,
	BOARD_KOR_NAME
	FROM BOARD_TYPE
</entry>
<!-- 게시글 삭제-->
<entry key="deleteBoard">
	UPDATE BOARD
    SET STATUS = 'N'
    WHERE BOARD_NO = ? AND BOARD_CODE LIKE ?
</entry>
<!-- 게시글 조회 -->
<entry key="selectBoard">
	SELECT BOARD_NO ,
	BT.BOARD_KOR_NAME ,
	M.MEMBER_ID,
	BOARD_TITLE ,
	BOARD_CONTENT ,
	VIEWS ,
	LIKES ,
	CREATED_DATE
	FROM BOARD B
	JOIN MEMBER M ON(B.BOARD_WRITER=M.MEMBER_NO)
	JOIN BOARD_TYPE BT ON(BT.BOARD_CODE = B.BOARD_CODE)
	WHERE B.BOARD_CODE LIKE ? AND B.BOARD_NO = ? AND B.STATUS LIKE 'Y'
</entry>

<!-- 게시글 조회 -->
<entry key="countBest">	
	SELECT COUNT(*) COUNT 
	FROM BEST_MONTH BM
    LEFT JOIN BOARD B USING(BOARD_NO)
    WHERE B.BOARD_CODE LIKE 'B3'
    AND B.STATUS LIKE 'Y'
</entry>
<entry key="selectBestListViews">
	SELECT RNUM,
    BOARD_NO,
    BOARD_TITLE,
    MEMBER_ID,
    VIEWS,
    LIKES,
    BEST_MONTH
		FROM(
		    SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT B.BOARD_NO BOARD_NO,
	                B.BOARD_TITLE BOARD_TITLE,
	                M.MEMBER_ID MEMBER_ID,
	                BM.BEST_MONTH BEST_MONTH,
	                BM.MONTH_VIEWS VIEWS,
	                BM.MONTH_LIKES LIKES
	                FROM BOARD B
	                JOIN MEMBER M ON(M.MEMBER_NO=B.BOARD_WRITER)
	                RIGHT JOIN BEST_MONTH BM ON(BM.BOARD_NO=B.BOARD_NO)
	                WHERE B.BOARD_CODE = 'B3' AND B.STATUS LIKE 'Y' AND M.STATUS LIKE 'Y'
	                ORDER BY BEST_MONTH DESC,VIEWS DESC
	        )A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="selectBestListLikes">
	SELECT RNUM,
    BOARD_NO,
    BOARD_TITLE,
    MEMBER_ID,
    VIEWS,
    LIKES,
    BEST_MONTH
		FROM(
		    SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT B.BOARD_NO BOARD_NO,
	                B.BOARD_TITLE BOARD_TITLE,
	                M.MEMBER_ID MEMBER_ID,
	                BM.BEST_MONTH BEST_MONTH,
	                BM.MONTH_VIEWS VIEWS,
	                BM.MONTH_LIKES LIKES
	                FROM BOARD B
	                JOIN MEMBER M ON(M.MEMBER_NO=B.BOARD_WRITER)
	                RIGHT JOIN BEST_MONTH BM ON(BM.BOARD_NO=B.BOARD_NO)
	                WHERE B.BOARD_CODE = 'B3' AND B.STATUS LIKE 'Y' AND M.STATUS LIKE 'Y'
	                ORDER BY BEST_MONTH DESC,LIKES DESC
	        )A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>

<!-- 베스트 삭제-->
<entry key="deleteBest">
	DELETE FROM BEST_MONTH
	WHERE BEST_MONTH = ? 
	AND BOARD_NO = ?
</entry>
<!-- 재료 조회-->
<entry key="selectRecipeIngrdList">
	SELECT
	DOSE ,
	INGRD_NAME,
	DOSE_NAME 
	FROM RECIPE_INGRD
	JOIN INGRD USING(INGRD_CODE)
	JOIN DOSE_UNIT USING(DOSE_CODE)
	WHERE BOARD_CODE LIKE ?
	AND BOARD_NO = ?
</entry>
<!-- 경로 조회-->
<entry key="selectAttachmentList">
	SELECT FILE_NO ,
	REF_CNO ,
	ORIGIN_NAME ,
	CHANGE_NAME ,
	FILE_PATH
	FROM ATTACHMENT
	WHERE STATUS LIKE 'Y'
	AND REF_CODE LIKE ?
	AND REF_BNO = ?
	ORDER BY FILE_NO
</entry>
<!-- 내용 조회-->
<entry key="selectRecipeList">
	SELECT ORDER_NO, 
	RECIPE_CONTENT 
	FROM RECIPE
	WHERE BOARD_CODE LIKE ?
	AND BOARD_NO = ?
	ORDER BY ORDER_NO
</entry>
<!-- 검색한 월간 레시피 갯수 조회-->
<entry key="countBestSearch">
	SELECT COUNT(*) COUNT
	FROM BOARD B
	JOIN BEST_MONTH BM ON(BM.BOARD_NO = B.BOARD_NO)
	WHERE B.BOARD_CODE LIKE 'B3'
	AND B.STATUS LIKE 'Y'
	AND B.BOARD_TITLE LIKE '%'||?||'%'
</entry>
<!-- 검색한 월간 레시피 조회-->
<entry key="selectBestSearchViews">
	SELECT RNUM,
    BOARD_NO,
    BOARD_TITLE,
    MEMBER_ID,
    VIEWS,
    LIKES,
    BEST_MONTH
		FROM(
		    SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT B.BOARD_NO BOARD_NO,
	                B.BOARD_TITLE BOARD_TITLE,
	                M.MEMBER_ID MEMBER_ID,
	                BM.BEST_MONTH BEST_MONTH,
	                BM.MONTH_VIEWS VIEWS,
	                BM.MONTH_LIKES LIKES
	                FROM BOARD B
	                JOIN MEMBER M ON(M.MEMBER_NO=B.BOARD_WRITER)
	                RIGHT JOIN BEST_MONTH BM ON(BM.BOARD_NO=B.BOARD_NO)
	                WHERE B.BOARD_CODE = 'B3' AND B.STATUS LIKE 'Y' AND M.STATUS LIKE 'Y'
	                AND B.BOARD_TITLE LIKE '%'||?||'%'
	                ORDER BY BEST_MONTH DESC,VIEWS DESC
	        )A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="selectBestSearchLikes">
	SELECT RNUM,
    BOARD_NO,
    BOARD_TITLE,
    MEMBER_ID,
    VIEWS,
    LIKES,
    BEST_MONTH
		FROM(
		    SELECT ROWNUM RNUM, A.*
		    FROM(
		        SELECT B.BOARD_NO BOARD_NO,
	                B.BOARD_TITLE BOARD_TITLE,
	                M.MEMBER_ID MEMBER_ID,
	                BM.BEST_MONTH BEST_MONTH,
	                BM.MONTH_VIEWS VIEWS,
	                BM.MONTH_LIKES LIKES
	                FROM BOARD B
	                JOIN MEMBER M ON(M.MEMBER_NO=B.BOARD_WRITER)
	                RIGHT JOIN BEST_MONTH BM ON(BM.BOARD_NO=B.BOARD_NO)
	                WHERE B.BOARD_CODE = 'B3' AND B.STATUS LIKE 'Y' AND M.STATUS LIKE 'Y'
					AND B.BOARD_TITLE LIKE '%'||?||'%'
	                ORDER BY BEST_MONTH DESC,LIKES DESC
	        )A
		)
	WHERE RNUM BETWEEN ? AND ?
</entry>

	<!-- 레시피 게시판 글작성1 - 게시글 -->
	<entry key="insertRecipeBoard">
	INSERT INTO BOARD(BOARD_NO,
					  BOARD_CODE,
					  BOARD_WRITER,
					  BOARD_TITLE,
					  BOARD_CONTENT,
					  CREATED_DATE
					  )
	VALUES(SEQ_TNO.NEXTVAL,'B2',?,?,?,?)
	</entry>
	
	<!-- 레시피 게시판 글작성2 - 조리내용 -->
	<entry key="insertRecipe">
	INSERT INTO RECIPE(ORDER_NO,
						BOARD_NO,
						BOARD_CODE,
						RECIPE_CONTENT)
	VALUES(?,SEQ_TNO.CURRVAL,'B2',?)
	</entry>
	
	<!-- 레시피 게시판 글작성3 - 타이틀 이미지 -->
	<entry key="insertAttachment">
	INSERT INTO ATTACHMENT(FILE_NO,
							REF_BNO,
							REF_CODE,
							REF_CNO,
							ORIGIN_NAME,
							CHANGE_NAME,
							FILE_PATH)
	VALUES(SEQ_ANO.NEXTVAL,SEQ_TNO.CURRVAL,'B2',?,?,?,'/resources/image/recipeImg/')
	</entry>
	
	<!-- 레시피 게시판 글작성4 - 조리내용 이미지 -->
	<entry key="insertRecipeAttachment">
	INSERT INTO ATTACHMENT(FILE_NO,
							REF_BNO,
							REF_CODE,
							REF_CNO,
							ORIGIN_NAME,
							CHANGE_NAME,
							FILE_PATH)
	VALUES(SEQ_ANO.NEXTVAL,SEQ_TNO.CURRVAL,'B2',?,?,?,'/resources/image/recipeImg/')
	</entry>
	
	<!-- 레시피 게시판 글작성5 - 재료추가 -->
	<entry key="insertIngrd">
	INSERT INTO RECIPE_INGRD(INGRD_CODE,
							 BOARD_NO,
							 BOARD_CODE,
							 DOSE,
							 DOSE_CODE)
	VALUES(?,SEQ_TNO.CURRVAL,'B2',?,?)
	</entry>
	
</properties>