<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectMemberList">
	SELECT *
	FROM(
	    SELECT ROWNUM RNUM, A.*
	    FROM(
		    SELECT 
		    MEMBER_NO
		    ,MEMBER_ID
		    ,MEMBER_NAME
		    ,EMAIL
		    ,ADDRESS
		    ,PHONE
		    ,GRADE_NAME
		    ,SUBSCRIPTION_DATE
		    FROM MEMBER M
		    JOIN MEMBER_GRADE MG USING(GRADE_CODE)
		    WHERE MEMBER_ID LIKE '%'||?||'%'
		    AND STATUS LIKE 'Y'
		    AND GRADE_CODE LIKE ?
		    ORDER BY TO_NUMBER(SUBSTR(GRADE_CODE,2)), MEMBER_NO
	    )A
	)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="countMember">
    SELECT COUNT(*) COUNT FROM MEMBER
	WHERE MEMBER_ID LIKE '%'||?||'%'
	AND GRADE_CODE LIKE ?
	AND STATUS LIKE 'Y'
</entry>
<entry key="selectMemberGrade">
    SELECT 
    GRADE_CODE ,
    GRADE_NAME 
    FROM MEMBER_GRADE
</entry>
<entry key="deleteMember">
    UPDATE MEMBER
	SET STATUS = 'N'
	WHERE MEMBER_NO = ?
</entry>
<entry key="selectMember">
	SELECT
	MEMBER_NO ,
	MEMBER_ID ,
	MEMBER_PWD ,
	MEMBER_NAME ,
	PHONE ,
	EMAIL ,
	ADDRESS ,
	GRADE_CODE
	FROM MEMBER
	WHERE MEMBER_NO = ?
	AND STATUS LIKE 'Y'
</entry>

<entry key="updateMember">
	UPDATE MEMBER
	SET MEMBER_PWD = ?
	,GRADE_CODE = ?
	,MEMBER_NAME = ?
	,PHONE = ?
	,EMAIL = ?
	,ADDRESS = ?
	WHERE MEMBER_NO = ?
	AND STATUS LIKE 'Y'
</entry>
</properties>