<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeList">
SELECT BOARD_NO,
       BOARD_CODE,
       MEMBER_ID,
       BOARD_TITLE,
       BOARD_CONTENT,
       VIEWS,
       CREATED_DATE
FROM BOARD B
JOIN MEMBER ON (B.BOARD_WRITER=MEMBER_NO)
WHERE B.STATUS = 'Y'
AND BOARD_CODE = 'B1'
ORDER BY CREATED_DATE DESC
	</entry>
	
	<entry key="insertNotice">
		 INSERT INTO BOARD(BOARD_NO
		 		  ,BOARD_CODE
                  ,BOARD_TITLE
                  ,BOARD_CONTENT
                  ,BOARD_WRITER) 
           VALUES (SEQ_NNO.NEXTVAL
                  ,'B1'
                  ,?
                  ,?
                  ,?)
                  
	</entry>
	<entry key="increaseCount">
		 UPDATE BOARD
		 SET VIEWS = VIEWS + 1
		 WHERE BOARD_NO = ?
		 AND STATUS = 'Y'                  
	</entry>
	<entry key="selectNotice">
		SELECT BOARD_NO,
				MEMBER_ID,
				BOARD_TITLE,
				BOARD_CONTENT,
				VIEWS,
				CREATED_DATE,
				B.STATUS
		FROM BOARD B
		JOIN MEMBER ON(B.BOARD_WRITER = MEMBER_NO)
		WHERE BOARD_NO = ?
		AND B.STATUS = 'Y'	                   
	</entry>
	<entry key="updateNotice">
		UPDATE BOARD
		SET BOARD_TITLE = ?
			,BOARD_CONTENT = ?
		WHERE BOARD_NO = ?
		AND BOARD_CODE = 'B1'
		AND STATUS = 'Y'		                   
	</entry>
	<entry key="deleteNotice">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?		                   
	</entry>
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE STATUS = 'Y'           	                   
	</entry>
	
	
	
	<entry key="selectList">
		SELECT *       
			FROM (SELECT ROWNUM RNUM,A.*
  				FROM (
          			 SELECT BOARD_NO,
                 	 BOARD_TITLE,
                  	 MEMBER_ID,
                 	 VIEWS,
                	 CREATED_DATE
            		 FROM BOARD B
            		 JOIN MEMBER ON(B.BOARD_WRITER = MEMBER_NO)
          			 WHERE BOARD_CODE = 'B1'
            		 AND B.STATUS = 'Y'
         			 ORDER BY BOARD_NO DESC)A
         			 )             
			WHERE RNUM BETWEEN ? AND ?	         	                   
	</entry>
	
		<entry key="insertReply">
		INSERT INTO COMMENTS (COMMENTS_NO,
							  BOARD_NO,
							  BOARD_CODE,
							  COMMENTS_CONTENT,
							  COMMENTS_WRITER
							)
							VALUES (SEQ_CNO.NEXTVAL,?,?,?,?)
							
	         	                   
	</entry>
	<entry key="selectReplyList">
		SELECT COMMENTS_NO,
				COMMENTS_CONTENT,
				MEMBER_ID,
	         	C.CREATED_DATE    
	    FROM COMMENTS C
	    JOIN MEMBER M ON(C.COMMENTS_WRITER = M.MEMBER_NO)	
	    WHERE C.STATUS = 'Y'
		AND C.BOARD_NO = ? AND
        C.BOARD_CODE LIKE 'B1'
		ORDER BY C.CREATED_DATE DESC  	               
	</entry>
	

</properties>