<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 현재 Q&A 게시판 게시글의 총 개수를 반환 -->
	<entry key="selectQnaListCount">
	SELECT COUNT(*) COUNT
	FROM BOARD
	WHERE BOARD_CODE = 'B5'
	AND STATUS = 'Y'
	</entry>
	
	<!-- Q&A 게시판 글 조회 -->
	<entry key="qnaListView">
		SELECT BOARD_NO
			  ,BOARD_CODE
			  ,MEMBER_NAME
			  ,BOARD_TITLE
			  ,BOARD_CONTENT
			  ,VIEWS
			  ,LIKES
			  ,CREATED_DATE
			  ,B.STATUS
		FROM BOARD B
		JOIN MEMBER M ON(B.BOARD_WRITER = M.MEMBER_NO)
		WHERE BOARD_CODE = 'B5'
		AND B.STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</entry>
	
	<!-- 현재 사용자가 요청한 Q&A페이지에 대해 보여질 게시글 리스트 조회하기 -->
	<entry key="selectQnaBoardList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT ROWNUM, BOARD_NO,
               			MEMBER_NAME,
		                BOARD_TITLE,
		                BOARD_CONTENT,
		                VIEWS,
		                LIKES,
		                CREATED_DATE
					FROM BOARD B
					JOIN MEMBER M ON(B.BOARD_WRITER = MEMBER_NO)
					WHERE BOARD_CODE = 'B5'
					AND B.STATUS = 'Y'
					ORDER BY B.BOARD_NO DESC)A
			  )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- Q&A 게시판 게시글 조회수 증가  -->
	<entry key="IncreaseQnaViews">
		UPDATE BOARD
		SET VIEWS = VIEWS + 1
		WHERE BOARD_CODE = 'B5'
		AND BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- Q&A 게시판 게시글 상세조회 -->
	<entry key="selectQnaBoard">
		SELECT BOARD_NO,
			   BOARD_TITLE,
			   BOARD_CONTENT,
			   MEMBER_ID,
			   CREATED_DATE
		FROM BOARD B
		JOIN MEMBER ON(BOARD_WRITER = MEMBER_NO)
		WHERE BOARD_CODE = 'B5'
		AND BOARD_NO = ?
		AND B.STATUS = 'Y'
	</entry>
	
	<!-- Q&A 게시판 글작성 -->
	<entry key="insertQnaBoard">
		INSERT INTO BOARD(BOARD_NO
                 ,BOARD_CODE
                 ,BOARD_WRITER
                 ,BOARD_TITLE
                 ,BOARD_CONTENT)
		VALUES(SEQ_QNO.NEXTVAL,'B5',?,?,?)
	</entry>
	
	<!-- Q&A 게시글 수정 게시판에 기존 데이터 가져오기 -->
	<entry key="updateQnaForm">
		SELECT *
		FROM BOARD
		WHERE BOARD_CODE = 'B5'
		AND BOARD_NO = ?
	</entry>
	
	<!-- Q&A게시판 게시글 수정내용 업데이트   -->
	<entry key="updateQnaBoard">
		UPDATE BOARD
		SET BOARD_TITLE = ?
		   ,BOARD_CONTENT = ?
		WHERE BOARD_CODE = 'B5'
		AND BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- Q&A게시판 게시글 삭제  -->
	<entry key="deleteQna">
		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_CODE = 'B5'
		AND BOARD_NO = ?
		AND STATUS = 'Y'
	</entry>
	
	<!-- Q&A게시판 댓글 등록  -->
	<entry key="insertQnaReply">
		INSERT INTO COMMENTS(COMMENTS_NO
							,BOARD_NO
							,BOARD_CODE
							,COMMENTS_CONTENT
							,COMMENTS_WRITER)
		VALUES(SEQ_CNO.NEXTVAL,?,'B5',?,?)
	</entry>
	
	<!-- Q&A게시판 게시글 작성 댓글 내용 가져오기  -->
	<entry key="selectReplyList">
		SELECT COMMENTS_NO,
			   MEMBER_NAME,
			   COMMENTS_CONTENT,
			   CREATED_DATE
		FROM COMMENTS C
		JOIN MEMBER M ON(C.COMMENTS_WRITER = M.MEMBER_NO)
		WHERE BOARD_CODE = 'B5'
		AND C.STATUS = 'Y'
		AND C.BOARD_NO = ?		
	</entry>
	
	<!-- Q&A게시판 댓글 삭제 -->
	<entry key="deleteQnaReply">
		UPDATE COMMENTS
		SET STATUS = 'N'
		WHERE COMMENTS_NO = ?
		AND BOARD_NO = ?
	</entry>
	
	<!-- Q&A게시판 댓글 수정 -->
	<entry key="updateQnaReply">
		UPDATE COMMENTS
		SET COMMENTS_CONTENT = ?
		WHERE BOARD_NO = ?
		AND COMMENTS_NO = ?
	</entry>

</properties>