<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectIngrdList">
    SELECT
	RNUM,
	INGRD_CODE ,
	INGRD_NAME 
	FROM(
	    SELECT ROWNUM RNUM, A.*
	    FROM(
	        SELECT 
	        INGRD_CODE ,
	        INGRD_NAME FROM INGRD
            WHERE INGRD_NAME LIKE '%'||?||'%'
	        ORDER BY TO_NUMBER(SUBSTR(INGRD_CODE,2))
	        )A
	    )
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="countIngrd">
    SELECT COUNT(*) COUNT FROM INGRD
    WHERE INGRD_NAME LIKE '%'||?||'%'
</entry>

<entry key="deledeIngrd">
 	DELETE FROM INGRD
    WHERE INGRD_CODE LIKE ?
</entry>

<entry key="selectIngrd">
 	SELECT I.INGRD_NAME,
	I.INGRD_CODE
	FROM INGRD I
	JOIN RECIPE_INGRD RI ON(I.INGRD_CODE = RI.INGRD_CODE)
	WHERE I.INGRD_CODE =  ?
</entry>
<entry key="checkIngrd">
 	SELECT COUNT(*) COUNT
 	FROM INGRD
 	WHERE INGRD_NAME LIKE ?
</entry>
<entry key="inertIngrd">
 	INSERT INTO INGRD 
 	VALUES(
 		(SELECT 'I'||(MAX(TO_NUMBER(SUBSTR(INGRD_CODE,2)))+1)
 		FROM INGRD
 		)
 		,?
 	)
</entry>
<entry key="selectDoseList">
    SELECT
	RNUM,
	DOSE_CODE ,
	DOSE_NAME 
	FROM(
	    SELECT ROWNUM RNUM, A.*
	    FROM(
	        SELECT 
	        DOSE_CODE,
	        DOSE_NAME FROM DOSE_UNIT
            WHERE DOSE_NAME LIKE '%'||?||'%'
	        ORDER BY TO_NUMBER(SUBSTR(DOSE_CODE,2))
	        )A
	    )
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="countDose">
    SELECT COUNT(*) COUNT FROM DOSE_UNIT
	WHERE DOSE_NAME LIKE '%'||?||'%'
</entry>
<entry key="checkDose">
 	SELECT COUNT(*) COUNT
 	FROM DOSE_UNIT
 	WHERE DOSE_NAME LIKE ?
</entry>
<entry key="inertDose">
 	INSERT INTO DOSE_UNIT 
 	VALUES(
 		(SELECT 'U'||(MAX(TO_NUMBER(SUBSTR(DOSE_CODE,2)))+1)
 		FROM DOSE_UNIT
 		)
 		,?
 	)
</entry>


<entry key="deleteDose">
 	DELETE FROM DOSE_UNIT
    WHERE DOSE_CODE LIKE ?
</entry>

<entry key="selectDose">
 	SELECT D.DOSE_NAME,
	D.DOSE_CODE
	FROM DOSE_UNIT D
	JOIN RECIPE_INGRD RI ON(RI.DOSE_CODE = D.DOSE_CODE)
	WHERE D.DOSE_CODE LIKE ?
</entry>
</properties>