<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = ?
		AND MEMBER_PWD = ?
		AND STATUS ='Y'
	</entry>
	<entry key="insertMember">
		INSERT INTO MEMBER 
		VALUES(SEQ_MNO.NEXTVAL,?,?,?,?,?,?,'M2','Y',SYSDATE,SYSDATE)
	</entry>
	<entry key="updateMember">
		UPDATE MEMBER
		SET PHONE=?
			,EMAIL=?
			,ADDRESS=?
			,MODIFIED_DATE=SYSDATE
		WHERE MEMBER_ID=?
	</entry>
	<entry key="selectMember">
	SELECT *
	FROM MEMBER
	WHERE MEMBER_ID=?
	</entry>
	<entry key="deleteMember">
	UPDATE MEMBER
	SET STATUS='N'
		,MODIFIED_DATE=SYSDATE
	WHERE MEMBER_ID = ? AND MEMBER_PWD=?
	</entry>
	<entry key="insertMyPage">
	INSERT INTO MYPAGE(MEMBER_NO,NICKNAME)
	VALUES (SEQ_MNO.CURRVAL,?)
	</entry>
	<entry key="selectMyPageAll">
	SELECT * 
	FROM MYPAGE
	WHERE MEMBER_NO=?
	</entry>
	<entry key="selectMyPage">
	SELECT MEMBER_NO,NICKNAME,ABOUTME
	FROM MYPAGE
	WHERE MEMBER_NO=?
	</entry>
	<entry key="updateMyPage">
	UPDATE MYPAGE
	SET NICKNAME=?
		,ABOUTME=?
	WHERE MEMBER_NO=?
	</entry>
	<entry key="updateProFile">
	UPDATE MYPAGE
	SET PROPILE_ORIGIN=?
		,PROPILE_CHANGE=?
		,FILE_PATH=?
	WHERE MEMBER_NO =?
	</entry>
	<entry key="selectProFile">
	SELECT MEMBER_NO,PROPILE_ORIGIN,PROPILE_CHANGE,FILE_PATH
	FROM MYPAGE
	WHERE MEMBER_NO=?
	</entry>
</properties>