@charset "UTF-8";


body {
  background-color: white;
  margin: 0;
  box-sizing: border-box;
}

.inner{
  position: relative;
  width: 800px;
  margin: 0 auto;
  align:center;
	
}

.search-input{
	width: 600px;
	
}

