@charset "UTF-8";

<!-- 자유게시판 리스트 -->

.outer-list{
		background:rgb(224, 224, 224);
		color:black;
		width:1000px;
		margin:auto; /*가운데 정렬*/
		margin-top:100px; /*위로부터 50px만큼 여백*/
	}
	
.list-area{
        text-align: center;
        background-color: rgb(224, 224, 224);
        height: 100px;
        width:1000px;

    }
.list-area>tbody>tr:hover{
        background-color: blanchedalmond;;
        cursor: pointer;
    }
    
    
<!-- 자유게시판 글작성 -->

.outer-write{
		background:rgb(224, 224, 224);
		color:black;
		margin-top:100px; /*위로부터 50px만큼 여백*/
		border:1px solid black;
	
}
#op-enroll-form>table {border:1px solid black;}

#op-enroll-form input, #op-enroll-form textarea{
		width : 100%;
		box-sizing : border-box;
	}
	
	
	
	
	
	
	
	
	
	
	
	

