<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	<entry key="selectOpenListCount">

		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE BOARD_CODE = 'B4'
		AND STATUS = 'Y'


	</entry>

	<entry key="selectOpenList">

		SELECT *
		FROM (
		SELECT ROWNUM RNUM, A.*
		FROM (
		SELECT BOARD_NO,
		BOARD_TITLE,
		MEMBER_NAME,
		VIEWS,
		CREATED_DATE
		FROM BOARD B
		JOIN MEMBER ON (BOARD_WRITER=MEMBER_NO)
		WHERE BOARD_CODE='B4'
		AND B.STATUS ='Y'
		ORDER BY BOARD_NO DESC) A
		)
		WHERE RNUM BETWEEN ? AND ?


	</entry>

	<entry key="insertOpenBoard">

		INSERT INTO BOARD(BOARD_NO
		,BOARD_CODE
		,BOARD_TITLE
		,BOARD_CONTENT
		,BOARD_WRITER)
		VALUES(SEQ_FNO.NEXTVAL,'B4',?,?,?)

	</entry>

	<entry key="increaseOpenBoardCount">

		UPDATE BOARD
		SET VIEWS = VIEWS +1
		WHERE BOARD_NO = ?
		AND STATUS ='Y'
		AND BOARD_CODE = 'B4'

	</entry>

	<entry key="selectOpenBoard">

		SELECT BOARD_NO
		,MEMBER_ID
		,BOARD_TITLE
		,BOARD_CONTENT
		,LIKES
		,CREATED_DATE
		FROM BOARD B
		JOIN MEMBER ON (MEMBER_NO=BOARD_WRITER)
		WHERE BOARD_NO = ?
		AND BOARD_CODE= 'B4'
		AND B.STATUS = 'Y'


	</entry>

	<entry key="updateOpenBoard">

		UPDATE BOARD
		SET BOARD_TITLE = ?
		,BOARD_CONTENT = ?
		WHERE BOARD_NO = ?
		AND STATUS = 'Y'
		AND BOARD_CODE = 'B4'


	</entry>

	<entry key="deleteOpenBoard">

		UPDATE BOARD
		SET STATUS = 'N'
		WHERE BOARD_NO = ?
		AND BOARD_CODE = 'B4'


	</entry>

	<entry key="insertComments">

		INSERT INTO COMMENTS(COMMENTS_NO,
		BOARD_CODE,
		COMMENTS_CONTENT,
		BOARD_NO,
		COMMENTS_WRITER)
		VALUES(SEQ_CNO.NEXTVAL,'B4',?,?,?)


	</entry>

	<entry key="selectCommentsList">

		SELECT COMMENTS_NO,
		CREATED_DATE,
		COMMENTS_CONTENT,
		MEMBER_ID
		FROM COMMENTS C
		JOIN MEMBER ON (MEMBER_NO=COMMENTS_WRITER)
		WHERE
		C.STATUS= 'Y'
		AND C.BOARD_NO = ?
		AND BOARD_CODE = 'B4'
		ORDER BY CREATED_DATE DESC

	</entry>
	
	
	<entry key="deleteComments">
		
		UPDATE COMMENTS
		SET STATUS = 'N'
		WHERE BOARD_CODE = 'B4'
		AND COMMENTS_NO = ?
		AND BOARD_CODE = 'B4'
		
	
	</entry>

	<entry key="updateComments">
		
		UPDATE COMMENTS
		SET COMMENTS_CONTENT = ?
		WHERE COMMENTS_NO = ?
		AND STATUS = 'Y'
		AND BOARD_CODE = 'B4'
		
	
	</entry>

	<entry key="selectMainList">
	
		SELECT *
		FROM
		    (SELECT ROWNUM RNUM, A.*
		     FROM
				(SELECT 
						BOARD_NO,
						MEMBER_NAME,
						BOARD_TITLE,
						VIEWS,
						LIKES,
						FILE_PATH || CHANGE_NAME "TITLEIMG"
				FROM BOARD B
				JOIN ATTACHMENT ON(BOARD_NO = REF_BNO)
				JOIN MEMBER ON(BOARD_WRITER = MEMBER_NO)
				WHERE BOARD_CODE = 'B3'
				AND REF_CNO = 0
				AND B.STATUS = 'Y'
				ORDER BY CREATED_DATE DESC) A)
		
	
	
	
	</entry>



</properties>




