@charset "utf-8";


div{
    box-sizing: border-box;
    border: inherit;
}
.outer{
    width:1000px;
    height: 1000px;
    margin: auto;
}
.outer>div{
    width: 100%;
}
#content{
    height: 100%;
}
#content>div{
    height: 100%;
    float: left;
}
#content1{
    width: 20%;
}
#content2{
    width: 80%;
}
#list-area>tbody>td{
    height: 70px;
}
#list-area>tbody>tr{
    height: 70px;
}
#list-area>tbody>tr:hover{
    background-color: lightgrey;
    cursor: pointer;
}
.search-area{
    border: none ;
    width: 100%;
    align-items: right;
}

.modal *{
    border: initial ;
}